<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá, <%= @destinatario.name %></h1>
    <p>
      Tenho um palpite para você jogar na mega-sena: <%= @numeros %>.<br>
    </p>
    <p>
      Para compartilhar...
    </p>
    <p>
      Para entrar no site
    </p>
    <p>Ah e lembre-se, se ganhar e quiser compartilhar 1% da sua boa fortuma comigo, <a href="https://paypal.me/breno">eu aceito! ;P</a></p>
  </body>
</html>
